#!/usr/bin/env groovy

pipeline {
  agent {
      dockerfile {
          dir '.manala/docker'
      }
  }
  stages {
    {{- range $stage := .integration.stages }}
    stage('{{ $stage.label }}') {
      parallel {
        {{- range $track := $stage.tracks }}
        stage('{{ $track.app | title }}') {
          stages {
            {{- range $stage := $track.stages }}
            stage('{{ $stage.label }}') {
              steps {
                dir('{{ $track.app }}') {
                  {{- range $task := $stage.tasks }}
                  sh '{{ $task }}'
                  {{- end }}
                }
              }
            }
            {{- end }}
          }
        }
        {{- end }}
      }
    }
    {{- end }}
  }
  post {
    always {
      junit testResults: '**/build/junit/*.xml', allowEmptyResults: true
    }
  }
}
